
.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card {
    position: relative;
}

.card-list .card p {
    position: absolute;
    bottom: 9px;
    right: 10px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}